{% extends 'admin/base.html' %}

{% block admin_content %}

<h1>Products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Total Sold</th>
    <th>Sold Past Week</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.total_sold }}</td>
    <td>{{ product.units_sold_1wk }}</td>
  </tr>
  {% endfor %}
</table>

<h2>Add Product</h2>

<form method="POST">
  <!-- product form -->
</form>

{% endblock %}